.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}